html, header, body, h1, h2, h3, section, ol, ul, li, aside, figure, p {
  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
}

li {
  text-decoration: inherit;
}

body {
  line-height: 1.5;
  /* padding: 20px */
}

img {
  width: 100%;
}