<form action="<%= users_url %>" method="POST">
  <h1>Sign Up</h1>
  <label>Username
    <input type="text" name="user[username]">
  </label>  
  <label>Password
    <input type="text" name="user[password]">
  </label>  
  <input type="submit" value="Sign Up">
</form>
