<form action="<%= users_url%>" method = "POST">
    <%= auth_token %>
    <h1 align = "center" >Create New Account!!</h1>
    <table align = "center">
        <tr>
            <td>Email</td>
            <td> <input type="text" name = "user[email]"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td> <input type="password" name = "user[password]"></td>
        </tr>
        <tr>
            <td colspan = "2"><input type="submit" value = "Create!"></td>
        </tr>

    </table>
</form>